/* GLOBAL CLASS */
.mt-3rm{margin-top: -3.0em;}

.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-40{margin-left: 40px;}
.ml-50{margin-left: 50px;}

.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
.mt-40{margin-top: 40px;}
.mt-45{margin-top: 45px;}
.mt-50{margin-top: 50px;}
.mt-55{margin-top: 55px;}

.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}

.swal2-container.swal2-center {z-index: 999999;}
.swal2-container .swal2-popup {font-size: 17px;}
.validation-div{color: #ff0202;}



@media only screen and (max-width: 991px){
	
}

.blogdesc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 35px;
}
.blog-infos{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}